body {
    height: 800px;
    background-image: url("https://fondosmil.com/fondo/6397.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
    font-size: large;
    font-weight: bolder;
    
    

}

p id=elemento{
color:white;

}

.bloque{
    height:500px;
        width:800px;
        display:inline-table;
}