body {
    height: 800px;
    background-image: url("https://fondosmil.com/fondo/6397.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
    font-size: large;
    font-weight: bolder;
    
    

}

h1{
    display: block;
    background-color: transparent;
    border-radius: 10px;
    border: 10px black;
    box-shadow: 2px 4px 15px black;
    text-shadow: 2px 2px 7px grey;
}
p {
color:black;

}

.contacto{
    background-color: gainsboro;
    display:inline-block;
    box-sizing: border-box;
    height: 80px;
    width:800px;      
    border-radius: 10px;
    border: 10px black;
    box-shadow: 2px 4px 15px black;
    text-shadow: 2px 2px 7px grey;
    
}

.bloque{
    background-color: gainsboro;
    display:inline-block;
    box-sizing: border-box;
    height:670px;
    width:800px;      
    border-radius: 10px;
    border: 10px black;
    box-shadow: 2px 4px 15px black;
    text-shadow: 2px 2px 7px grey;
    
}

